.Login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #00000090;
    display: grid;
}

.login-con{
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fade .5s;
}

.login-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.login-title img{
    width: 16px;
    cursor: pointer;
}

.login-popup-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-popup-input input{
    outline: 0;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.login-con button{
    border: 0;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background: tomato;
    font-size: 15px;
    cursor: pointer;
}

.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.login-popup-condition input{
    margin-top: 5px;
}

.Login-popup p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}