.ExploreMenu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ExploreMenu h1{
    color: #262626;
    font-weight: 500;
}

.ExploreMenu-text{
    max-width: 80%;
    color: #808080;
}

.ExploreMenu-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
    cursor: pointer;
}


.ExploreMenu-list::-webkit-scrollbar{
    overflow: hidden;
}



.ExploreMenu-list-item img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}
 
.ExploreMenu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.4vw,16px);
    cursor: pointer;
}

.ExploreMenu hr{
    margin: 10px 0px;
    height: 2px;
    background: #e2e2e2;
    border: none;
}

.ExploreMenu-list-item .active{
    border: 4px solid tomato;
    padding: 2px;
}

@media(max-width:1050px){
    .ExploreMenu-text{
        max-width: 100%;
        font-size: 14px;
    }
}